.btnbg{
    background: #111430;
    color: azure;
width: 134px;
    height: 45px;

    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-color: #111430;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    cursor: pointer;
}

.iconstyle{
    height: 31px;
    width: 31px;
}